<html lang="en">
     <!-- Head -->
  <head>
        <%- include('./partials/head.ejs') %>
        <link href="/css/detail.css" rel="stylesheet" type="text/css">
        <title>Detalle Producto</title>
  </head> 
  <body>
    <!-- Header -->
    <%- include('./partials/header.ejs')%>
      <h1 class="titleDetail">Detalle del producto</h1>
      <br/>
    <main class="main-products">
          <!-- div solo de imagen -->
            <div class="products-container">
            
                  <!-- div de la imagen -->
                <div class="main-article"> 
                <img src="/uploads/products/<%=products.pdtImage %>"  alt="" class="product-img"></a>
              </div>
            </div>
            <!-- div datos del producto -->
            <div class="descriptionProduct">
                <h1 class="tittlePdt"> <%= products.pdtName %> </h1> 
                <h4 class="pricePdt"> <%= products.pdtPrice %> Ars</h4>
                <h4 class="capacityPdt"> <%= products.pdtCapacity %> ml</h4>
                <h4 class='descriptionPdt'><%= products.pdtDescription %> </h4>
            
                <p> Podés retirar en nuestro local </p>
                <p>Podés comprar como quieras
                  aceptamos tarjetas de crédito, débito, mercadopago.</p>
                <p>Compra protegida
                  podés devolver tu pedido si no es lo que esperabas</p>
                <p>Estamos disponibles para responder tus consultas
                  escribinos por el chat en vivo</p> 
                  <form method="POST" action="/products/eliminar/<%= products.pdtID%>?_method=DELETE">
                  <button type="submit"> Borrar </button>
                </form>
                <a href="/products/editar/<%= products.pdtID %>"><button type="submit">Editar</button></a>
                </div>     
    </main>
  </body>     
</html>