<html lang="en">
    <!-- Head -->
    <head>
        <%- include('./partials/head.ejs') %>
        <!-- <link href="/css" rel="stylesheet" type="text/css"> -->
        <title>Edicion de producto</title>
    </head>
    <body>
    <!-- Header -->
        <%- include('./partials/header.ejs')%>
        <main class="main-login">    
            <div class="login">
            <h1>Editar un Producto</h1>
                <form method="POST" action="/products/editar/<%= products.pdtID%>?_method=PUT">
                    <p>
                        <label for="nombre">Nombre:</label>  
                        <input id="nombre"  type="text" name="pdtName" value="<%= products.pdtName%>">
                    </p> 
                    <p>
                                <label for="category">Categoria:</label>
                                <select name="pdtCategory" id="category" value="<%= products.pdtCategory %>" required>
                                    <option value="beer">Cerveza</option>
                                    <option value="wine">Vino</option>
                                    <option value="sparklin">Espumante</option>
                                    <option value="distilled">Destilado</option>
                                    <option value="snacks">Snack</option>
                                    <option value="soda">Gaseosa</option>
                                </select>
                            </p>
                            <p>
                                <label for="capacity">Contenido(ml o gr):</label>
                                <input type="text" name="pdtCapacity" id="capacity" value="<%= products.pdtCapacity %>" required>
                            </p>
                            <p>
                                <label for="price">Precio:</label>
                                <input type="number" name="pdtPrice" id="price" value="<%= products.pdtPrice %>" required>
                            </p>
                            <p>
                                <label for="Descripcion">Descripcion:</label>
                                <textarea name="pdtDescription" id="Descripcion" cols="50" rows="2" value="<%= products.pdtDescription %>" required></textarea>
                            </p>
                            <button type="submit"> Guardar </button>
                          </form>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body> 
</html> 