<html lang="en">
     <!-- Head -->
  <head>
        <%- include('./partials/head.ejs') %>
        <link href="/css/button.css" rel="stylesheet" type="text/css">
        <link href="/css/creacion.css" rel="stylesheet" type="text/css">
        <title>Marcas</title>
  </head> 
  <body>
    <!-- Header -->
    <%- include('./partials/header.ejs')%>

    <section class="main-section">
      <div class="slider">
        <ul>
          <li><img src="/img/Slider-3-Cuotas.png" alt=""></li>
          <li><img src="/img/Slider-Heineken.png" alt=""></li>
          <li><img src="/img/SaltaCautiva-slider.png" alt=""></li>
          <li><img src="/img/Schneider-slider.png" alt=""></li>
          <!-- <li><img src="/img/slider-JWalker.png" alt=""></li> -->
        </ul>
      </div>
    </section>
    <main class="main-products">
      <div class="products-container">
        <h1>Productos</h1>
        <div class="category">
          <form action="/products/filtro" method="post">
          <h3>Busca por Categoria</h3>
          <select name="pdtCategory">
            <% category.forEach((category) => { %>
              <option value="<%- category.id %>"><%- category.name %> </option>
              <% }) %> 
              <input class="mybutton" type="submit" value="Buscar" id="registro">
            </select>
          </form>
      </div>
          <section class="products">
            <% for (let i = 0; i<products.length ; i++) { %>
              <div class="main-article">
                <a href="/products/detalle/<%= products[i].pdtID%>">
                  <img src="/uploads/products/<%=products[i].pdtImage %>"  alt="" class="product-img">
                </a>
              <div class="product-description">
                <h3 class="product-title"><%= products[i].pdtName %></h3>
                <span class="price">$ <%= products[i].pdtPrice %></span>
              </div>
              </div>
              <%}%>
            </section>
          </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>