<html lang="en">
     <!-- Head -->
  <head>
    <%- include('./partials/head.ejs') %>
    <link href="/css/creacion.css" rel="stylesheet" type="text/css">
    <title>Marcas</title>
  </head> 
  <body>
    <!-- Header -->
    <%- include('./partials/header.ejs')%>
    <section class="main-section">
      <div class="slider">
        <ul>
          <li><img src="/img/Slider-3-Cuotas.png" alt=""></li>
          <li><img src="/img/Slider-Heineken.png" alt=""></li>
          <li><img src="/img/SaltaCautiva-slider.png" alt=""></li>
          <li><img src="/img/Schneider-slider.png" alt=""></li>
          <!-- <li><img src="/img/slider-JWalker.png" alt=""></li> -->
        </ul>
      </div>
    </section>
    <main class="main-products">
      <div class="products-container">
        <h1>Usuarios</h1>
          <section class="products">
            <% for (let i = 0; i<users.length ; i++) { %>
              <div class="main-article">
                <a href="">
                  <img src="/uploads/users/<%=users[i].userImage %>"  alt="" class="product-img">
                </a>
                <div class="product-description">
                  <h3 class="product-title"><%= users[i].userCategory %></h3>
                  <h4 class="product-title"><%= users[i].userName %></h4>
                  <a href="/users/profile/<%= users[i].userID %>"><button>Perfil</button></a>
                </div>
              </div>
              <%}%>
            </section>
          </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
<!-- <div>
  <% for (let i=0; i<users.length; i++) { %>
    <p> <%= users[i].userName %> </p>

 <% } %> 
  
  </div> -->