<html lang="en">
     <!-- Head -->
     <head>
        <%- include('./partials/head.ejs') %>
        <link href="/css/detail.css" rel="stylesheet" type="text/css">
        
        <title>Marcas</title>
    </head> 
    <body>
    <!-- Header -->
    <%- include('./partials/header.ejs')%>
    <body>
        <section class="main-section">
          <div class="slider">
              <ul>
              
              <li><img src="/img/Slider-3-Cuotas.png" alt=""></li>
              <li><img src="/img/Slider-Heineken.png" alt=""></li>
              <li><img src="/img/SaltaCautiva-slider.png" alt=""></li>
              <li><img src="/img/Schneider-slider.png" alt=""></li>
              <!-- <li><img src="/img/slider-JWalker.png" alt=""></li> -->
              </ul>
          </div>
        </section>
        <h1 class="titleDetail">Detalle del producto</h1>
        <br/>
        <main class="main-products">
            <div class="products-container">
            <% for (let i = 0; i<products.length ; i++) { %>
                <% if (String(products[i].pdtID) === id) { %>
                  <!-- div de la imagen -->
                <div class="main-article"> 
                <img src="/uploads/products/<%=products[i].pdtImage %>"  alt="" class="product-img"></a>
                <div class="product-description">
                  <h3 class="product-title"></h3>
                  <span class="price"></span>
                </div>
              </div>
            </div>
            <!-- div datos del producto -->
            <div class="descriptionProduct">
                <h1 class="tittlePdt"> <%= products[i].pdtName %> </h1> 
                <h4 class="pricePdt"> <%= products[i].pdtPrice %> Ars</h4>
                <h4 class="capacityPdt"> <%= products[i].pdtCapacity %> ml</h4>
                <h4 class='descriptionPdt'><%= products[i].pdtDescription %> </h4>
                
                <p> Podés retirar en nuestro local </p>
                <p>Podés comprar como quieras
                  aceptamos tarjetas de crédito, débito, mercadopago.</p>
                <p>Compra protegida
                  podés devolver tu pedido si no es lo que esperabas</p>
                <p>Estamos disponibles para responder tus consultas
                  escribinos por el chat en vivo</p> 
                  <form method="POST" action="/<%= products[i].pdtID%>?_method=DELETE">
                  <!-- <input type="number"  name="pdtID" id="id" value="cantidad" required>
                  <input type="submit" value="Agregar al Carrito" id="registro"> -->
                  <button type="submit"> Borrar </button>
                </form>
                <a href="/editar/<%= products[i].pdtID %>"><button type="submit">Editar</button></a>
                </div>
              <%}}%>
              
            
        </main>
        </body>

    </body>     
</body>
</html>